.error_content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* position: fixed; */
    /* left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */
    padding-left: 150;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
}
.error_code{
    font-size: 64;
    
}

body{
    display: flex;
    margin: 0;
    /* position: fixed; */
    background: linear-gradient(180deg, #7832A7 0%, #520C81 100%);
}