* {
  padding: 0;
  margin: 0;
}
.global_header {
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: #171a21;
  padding: 0;
  margin: 0;
}
.header_content {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
}
.header_logo {
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}
.header_nav {
  position: absolute;
  left: 200px;
}
.nav_button {
  display: block;
  position: relative;
  padding-top: 45px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  line-height: 16px;
  float: left;
  font-size: 14px;
  color: #b8b6b4;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_button:hover {
  color: #ffffff;
}
.login_menu {
  position: absolute;
  right: 0px;
  top: 6px;
  height: 21px;
  line-height: 21px;
  color: #b8b6b4;
  font-size: 11px;
  z-index: 401;
}
.install_steam {
  background-color: #5c7e10;
  display: inline-block;
  padding-left: 35px;
  padding-right: 9px;
  background-position: 10px 5px;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  text-decoration: none;
  color: #e5e4dc;
  font-weight: normal;
}
.install_steam:hover {
  color: white;
}
.login_button {
  color: #b8b6b4;
  padding: 0 4px;
  text-decoration: none;
}
.login_button:hover {
  color: white;
}
.language_pulldown {
  padding-right: 18px;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.language_pulldown:hover {
  color: white;
}
